@import "fonts"
#main-header
  padding: 40px 0
  position: relative
  height: 600px
  display: flex
  flex-direction: column
  margin-bottom: 20px

  #particles-js
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: hidden
  h1
    font-size: 70px
    font-weight: bold
    font-family: Montserrat Bold,sans-serif
    margin-bottom: 13px
    margin-top: 30px
  h2
    font-size: 28px
  .logo
    width: 220px

  .container
    position: relative
    flex: 1
  .txt-rotate
    font-weight: 800
.container-fluid
  padding-right: 5px
  padding-left: 5px
img
  max-width: 100%

@media (min-width: 1500px)
.container, .container-lg, .container-md, .container-sm, .container-xl
  max-width: 1400px
.clearfix
  clear: both

.isotope-grid
  margin-right: -5px
  margin-left: -5px
  & > div
    padding-left: 4px
    padding-right: 4px
    margin-bottom: 8px
    position: relative
    &:before
      content: ''
      width: calc(100% - 8px)
      height: 100%
      position: absolute
      display: block
      opacity: 0
      background-color: rgba(0, 0, 0, 0.5)
      transition: opacity .5s ease
    &:hover
      &:before
        opacity: 1

.filter-button-group
  &>div
    padding: 20px 20px
    cursor: pointer
    &.active,&:hover
      color: red
#main-footer
  padding: 40px 0
  .logo
    max-width: 200px
    margin-bottom: 20px
  h4
    font-weight: bold

.wrap-image
  width: 100%
  padding-bottom: 100%
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    top: 0
    left: 0
.blog-item
  position: relative
  overflow: hidden
  color: white
  .wrap-image
    padding-bottom: 170%
  .content
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 10px
    h4
      font-weight: bold
    p
      font-weight: 500
  .hover
    display: flex
    opacity: 0
    transition: opacity .5s ease
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 20px
    background-color: rgba(0, 0, 0, 0.25)
  &:hover
    .hover
      opacity: 1

.row.small
  padding-right: -5px
  padding-left: -5px
  > div
    padding-right: 5px
    padding-left: 5px
.row.no-padding
  padding-right: 0
  padding-left: 0
  > div
    padding-right: 0
    padding-left: 0
.client-section
  padding: 60px 0
.client-item
  padding: 10px
  margin-bottom: 20px
.section-title
  font-size: 32px
  font-weight: bold
.team-section
  background-color: black
  color: white
  padding: 85px 0

.team-item
  position: relative
  overflow: hidden
  color: white
  .wrap-image
    padding-bottom: 150%
  .content
    opacity: 0
    position: absolute
    bottom: -100%
    left: 0
    width: 100%
    padding: 10px
    transition: all .5s ease
    background-color: red
  .hover
    display: flex
    opacity: 0
    transition: opacity .5s ease
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 20px
    background-color: rgba(0, 0, 0, 0.25)
  &:hover
    .hover
      opacity: 1
    .content
      opacity: 1
      bottom: 0
.bin-section
  padding: 85px 0
  p
    font-size: 24px
    line-height: 28px
a
  color: black
.underline
  text-decoration: underline

.contact-section
  padding: 60px 0

  .form-group
    margin-bottom: 2rem

.form-control
  border: none
  border-bottom: solid 1px black
  border-radius: unset
  font-size: 20px
  &:focus
    outline: none
    box-shadow: unset
.btn
  border-radius: unset
.nav-item
  padding: 10px 20px

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
  text-decoration: underline
  color: red
.see-more
  font-size: 20px
  font-weight: 500
  font-style: italic
.client-section
  .client-item
    img
      max-width: 135px

@media (min-width: 1200px)
  .client-section
    .col-md-2
      -ms-flex: 0 0 20%
      flex: 0 0 20%
      max-width: 20%

.grid-item,
.grid-sizer
  width: 33.33%

.grid-item
  float: left
  min-height: 100px

.grid-item--width2
  width: 33.33%
.grid-item--height2
  height: 200px

.service-item
  margin-bottom: 40px
  h3
    font-size: 36px
    text-transform: uppercase
    max-width: 275px
    margin-top: 20px
  hr
    border-top: 4px solid #231f20
    margin-top: 2rem
a:hover
  color: black
.padding-section
  padding-top: 80px
  padding-bottom: 80px

.blog
  padding: 80px 0
  .single-blog
    margin-bottom: 40px
    h3
      font-size: 40px
      margin-top: 15px
      margin-bottom: 15px
#hamburger
  display: none