@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFHeavyItalic.ttf?ede942ba1c7cd3defd9f0363217f1a55) format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFBold.ttf?2ed3211ebe5a40b0de28d1f85dcc00a8) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFMediumItalic.ttf?7acddfc2b6e4b92a63caa51e7e56ebe2) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFHeavy.ttf?5e392d3eaec59ca9a42d52fbc8438434) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFLight.ttf?c4646b910ff699be74552657013daf49) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFBoldItalic.ttf?4c8d988eb2e0940885b393300d6e3ea9) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFExtraBold.ttf?a563909975b43e457aa502145b0e922a) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCF.ttf?45d36aeef91c26ba7fbd9e306d422ca3) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFThinItalic.ttf?b6d5443b91d9063fb32a533cd47333a1) format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFThin.ttf?ac01c277fc647165e732d8921be27779) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFExtraBoldItalic.ttf?473b3a5c5da887335d21fadf69bdd877) format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFDemiBold.ttf?41a51f3672b27d780c87a67d3796b081) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFLightItalic.ttf?94857fc9376f17212cdbf3266929254d) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFDemiBoldItalic.ttf?54b6d05a9c897653b2beae0bd9c77287) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFMedium.ttf?ceff48defb489e84a1bf602d85383cd3) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Visby CF";
  src: url(/fonts/SVN-VisbyCFItalic.ttf?87a2c4dff6eacf8bc33218b0ffefdfca) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

#main-header {
  padding: 40px 0;
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#main-header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#main-header h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: Montserrat Bold, sans-serif;
  margin-bottom: 13px;
  margin-top: 30px;
}

#main-header h2 {
  font-size: 28px;
}

#main-header .logo {
  width: 220px;
}

#main-header .container {
  position: relative;
  flex: 1;
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

img {
  max-width: 100%;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1400px;
}

.clearfix {
  clear: both;
}

.isotope-grid {
  margin-right: -5px;
  margin-left: -5px;
}

.isotope-grid > div {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
  position: relative;
}

.isotope-grid > div:before {
  content: "";
  width: calc(100% - 8px);
  height: 100%;
  position: absolute;
  display: block;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease;
}

.isotope-grid > div:hover:before {
  opacity: 1;
}

.filter-button-group > div {
  padding: 20px 20px;
  cursor: pointer;
}

.filter-button-group > div.active,
.filter-button-group > div:hover {
  color: red;
}

#main-footer {
  padding: 40px 0;
}

#main-footer .logo {
  max-width: 200px;
}

#main-footer h4 {
  font-weight: bold;
}

.wrap-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.wrap-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-item {
  position: relative;
  overflow: hidden;
  color: white;
}

.blog-item .wrap-image {
  padding-bottom: 170%;
}

.blog-item .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.blog-item .content h4 {
  font-weight: bold;
}

.blog-item .content p {
  font-weight: normal;
}

.blog-item .hover {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.blog-item:hover .hover {
  opacity: 1;
}

.row.small {
  padding-right: -5px;
  padding-left: -5px;
}

.row.small > div {
  padding-right: 5px;
  padding-left: 5px;
}

.row.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.row.no-padding > div {
  padding-right: 0;
  padding-left: 0;
}

.client-section {
  padding: 60px 0;
}

.client-item {
  padding: 10px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
}

.team-section {
  background-color: black;
  color: white;
  padding: 85px;
}

.team-item {
  position: relative;
  overflow: hidden;
  color: white;
}

.team-item .wrap-image {
  padding-bottom: 150%;
}

.team-item .content {
  opacity: 0;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease;
  background-color: red;
}

.team-item .hover {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.25);
}

.team-item:hover .hover {
  opacity: 1;
}

.team-item:hover .content {
  opacity: 1;
  bottom: 0;
}

.bin-section {
  padding: 85px 0;
}

.bin-section p {
  font-size: 24px;
  line-height: 28px;
}

a {
  color: black;
}

.underline {
  text-decoration: underline;
}

.contact-section {
  padding: 60px 0;
}

.contact-section .form-group {
  margin-bottom: 2rem;
}

.form-control {
  border: none;
  border-bottom: solid 1px black;
  border-radius: unset;
  font-size: 20px;
}

.form-control:focus {
  outline: none;
  box-shadow: unset;
}

.btn {
  border-radius: unset;
}

.nav-item {
  padding: 10px 20px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: red;
}

.see-more {
  font-size: 18px;
}

.client-section .client-item img {
  max-width: 135px;
}

.col-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.grid-item,
.grid-sizer {
  width: 33.33%;
}

.grid-item {
  float: left;
  min-height: 100px;
}

.grid-item--width2 {
  width: 33.33%;
}

.grid-item--height2 {
  height: 200px;
}

